.navbar{
    background-color: rgb(72, 132, 221);
    color: rgb(255, 255, 255);
}
.padding1{
    text-align: justify;
    padding: 50px;
}
.background{
    background-color:rgb(72, 132, 221)
}
.white-text{
    color: white;
}
.blue-text{
    color: rgb(72, 132, 221);
}
.margin1{
    margin-top: 50px;
    margin-bottom: 50px;
}
.width{
    width: 75%
}
